@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
.swiper-pagination-bullet {
    background: #4f46e5;
}

/* HTML: <div class="loader"></div> */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
 
.spinner {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg,#FF9846 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: l7 5s infinite steps(11);
}
.spinner:before {
    content:"Loading..."
  }
  @keyframes l7 {to{background-position: left}}

/* HTML: <div class="loader"></div> */
/* .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg,#C02942 calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
            background-clip: text;
    animation: l7 2s infinite steps(11);
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l7 {to{background-position: left}} */